# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/
.venv

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs & Temp Files
# =========================
*.log
*.tmp
*.temp

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
#
# =========================

# =========================
# Models (Large Files)
# =========================

# =========================
# Embeddings (Very Large)
# =========================
data/embeddings/

# =========================
# Environment Variables
# =========================
.env

# =========================
# Build / Distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# Cache
# =========================
.cache/